## Week 9, Assignment 9, Question 4

### Going back to problem 3, setup your Python Notebook to easily take in an arbtrary year, month, and countryand answer the series of three questions by only modifying the year, month, and country parameters.

In [1]:
import requests
import pandas as pd

In [11]:
### year, month, and country parameters
year = '2015'
month = '1'
country = 'AUS'

In [12]:
url = 'http://popdata.unhcr.org/api/stats/asylum_seekers_monthly.json?year='+year+'&month='+month+'&coa='+country
url

'http://popdata.unhcr.org/api/stats/asylum_seekers_monthly.json?year=2015&month=1&coa=AUS'

In [13]:
data = requests.get(url)
as_json = data.json()
df = pd.DataFrame(as_json)

In [14]:
df.head()

,country_of_asylum,country_of_asylum_en,country_of_origin,country_of_origin_en,month,month_en,value,year
0,AUS,Australia,AFG,Afghanistan,1,January,2,2015
1,AUS,Australia,EGY,Egypt,1,January,7,2015
2,AUS,Australia,AZE,Azerbaijan,1,January,3,2015
3,AUS,Australia,BGD,Bangladesh,1,January,17,2015
4,AUS,Australia,CHN,China,1,January,80,2015

### From what country did Australia recieve the most immigrants in January 2015? China 
### What were the 5 countries that contributed the most immigrants in January of 2015? China, Bangladesh, Azerbaijan, Egpyt, Afghanistan
### From what countries did only 1 immigrant arrive from Australia in January of 2015? none. lowest is 2 from Afghanistan

In [15]:
### year, month, and country parameters
year = '2018'
month = '1'
country = 'AUS'

In [17]:
url = 'http://popdata.unhcr.org/api/stats/asylum_seekers_monthly.json?year='+year+'&month='+month+'&coa='+country
data = requests.get(url)
as_json = data.json()
df = pd.DataFrame(as_json)

In [18]:
df.head()

,country_of_asylum,country_of_asylum_en,country_of_origin,country_of_origin_en,month,month_en,value,year
0,AUS,Australia,AFG,Afghanistan,1,January,10,2018
1,AUS,Australia,ALB,Albania,1,January,5,2018
2,AUS,Australia,EGY,Egypt,1,January,9,2018
3,AUS,Australia,BGD,Bangladesh,1,January,26,2018
4,AUS,Australia,CHN,China,1,January,1148,2018

### From what country did Australia recieve the most immigrants in January 2018? China
### What were the 5 countries that contributed the most immigrants in January of 2018? China, Bangladesh,  Egpyt, Albania Afghanistan
### From what countries did only 1 immigrant arrive from Australia in January of 2018? none. lowest is 5 from Albania