## Week 9, Assignment 9, Question 5

In [1]:
import arcgis
from arcgis.features import SpatialDataFrame 
import pandas as pd

In [4]:
xcl = "fsi-2018.xlsx"
data_xls = pd.read_excel(xcl, index_col=None)
data_xls.to_csv("fsi-2018.csv")

In [5]:
fsi_csv = pd.read_csv("fsi-2018.csv")
fsi_csv.head()

,Unnamed: 0,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
0,0,South Sudan,2018-01-01,1st,113.357315,10.0,9.7,9.7,10.0,8.890018,6.300000,10.000000,9.942346,9.200000,10.000000,10.0,9.624950
1,1,Somalia,2018-01-01,2nd,113.200796,9.7,10.0,9.0,8.9,9.300000,9.500000,9.119045,9.300000,9.600000,10.000000,9.7,9.081752
2,2,Yemen,2018-01-01,3rd,112.671504,9.9,10.0,9.5,9.6,8.200000,7.180662,9.728508,9.700000,9.762334,9.600000,9.5,10.000000
3,3,Syria,2018-01-01,4th,111.393031,9.9,9.9,9.9,8.5,7.800000,8.100000,9.893031,9.300000,9.900000,8.200000,10.0,10.000000
4,4,Central African Republic,2018-01-01,5th,111.126345,9.1,9.7,8.8,8.8,9.768958,7.400000,9.400000,9.955870,9.400000,9.301516,10.0,9.500000

In [6]:
df = pd.DataFrame(fsi_csv)

In [7]:
df.columns.values

array(['Unnamed: 0', 'Country', 'Year', 'Rank', 'Total',
       'C1: Security Apparatus', 'C2: Factionalized Elites',
       'C3: Group Grievance', 'E1: Economy', 'E2: Economic Inequality',
       'E3: Human Flight and Brain Drain', 'P1: State Legitimacy',
       'P2: Public Services', 'P3: Human Rights',
       'S1: Demographic Pressures', 'S2: Refugees and IDPs',
       'X1: External Intervention'], dtype=object)

In [18]:
C1 = df.sort_values(by='C1: Security Apparatus', ascending = False)
C1.head(10)

,Unnamed: 0,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
0,0,South Sudan,2018-01-01,1st,113.357315,10.0,9.7,9.7,10.000000,8.890018,6.300000,10.000000,9.942346,9.200000,10.000000,10.0,9.624950
8,8,Afghanistan,2018-01-01,9th,106.620768,10.0,8.6,8.1,8.314048,7.800000,8.100000,9.073801,9.950000,8.200000,9.182918,9.9,9.400000
2,2,Yemen,2018-01-01,3rd,112.671504,9.9,10.0,9.5,9.600000,8.200000,7.180662,9.728508,9.700000,9.762334,9.600000,9.5,10.000000
3,3,Syria,2018-01-01,4th,111.393031,9.9,9.9,9.9,8.500000,7.800000,8.100000,9.893031,9.300000,9.900000,8.200000,10.0,10.000000
46,46,Philippines,2018-01-01,47th,85.499882,9.8,8.0,8.2,5.200000,5.400000,6.299882,7.500000,6.400000,7.100000,7.500000,7.2,6.900000
1,1,Somalia,2018-01-01,2nd,113.200796,9.7,10.0,9.0,8.900000,9.300000,9.500000,9.119045,9.300000,9.600000,10.000000,9.7,9.081752
7,7,Chad,2018-01-01,8th,108.311870,9.5,9.5,7.7,9.000000,9.342648,8.630684,8.800000,9.738539,8.800000,10.000000,9.3,8.000000
26,26,Mali,2018-01-01,27th,93.581321,9.3,5.4,7.9,7.561497,7.283648,8.560991,6.082859,8.509776,7.282551,8.000000,8.2,9.500000
24,24,Libya,2018-01-01,25th,94.600000,9.3,9.4,7.8,8.000000,5.300000,6.300000,9.800000,6.700000,9.400000,4.600000,8.0,10.000000
4,4,Central African Republic,2018-01-01,5th,111.126345,9.1,9.7,8.8,8.800000,9.768958,7.400000,9.400000,9.955870,9.400000,9.301516,10.0,9.500000

In [36]:
C1_df = C1.drop(columns= ['Unnamed: 0', 'Year', 'Rank', 'Total',
       'C2: Factionalized Elites',
       'C3: Group Grievance', 'E1: Economy', 'E2: Economic Inequality',
       'E3: Human Flight and Brain Drain', 'P1: State Legitimacy',
       'P2: Public Services', 'P3: Human Rights',
       'S1: Demographic Pressures', 'S2: Refugees and IDPs',
       'X1: External Intervention'])
C1_df.head(10)

                     Country  C1: Security Apparatus
0                South Sudan                    10.0
8                Afghanistan                    10.0
2                      Yemen                     9.9
3                      Syria                     9.9
46               Philippines                     9.8
1                    Somalia                     9.7
7                       Chad                     9.5
26                      Mali                     9.3
24                     Libya                     9.3
4   Central African Republic                     9.1

In [37]:
C1_sec=C1_df['Country'].head(10)

In [38]:
C1_sec.to_dict()

{0: 'South Sudan',
 8: 'Afghanistan',
 2: 'Yemen',
 3: 'Syria',
 46: 'Philippines',
 1: 'Somalia',
 7: 'Chad',
 26: 'Mali',
 24: 'Libya',
 4: 'Central African Republic'}